
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.remarkable.autosync</string>

    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Users/carterlaborde/iCloud-test/sync_remarkable_to_icloud.sh</string>
    </array>

    <key>StartInterval</key>
    <integer>900</integer>

    <key>RunAtLoad</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/Users/carterlaborde/remarkable_autosync.log</string>

    <key>StandardErrorPath</key>
    <string>/Users/carterlaborde/remarkable_autosync_error.log</string>
</dict>
</plist>
